.container
  .row
    .col-md-5
      %p.lead= "All users, teams, categories over a specified time period"
      %hr
      = form_tag(stat_reports_all_path, method: "post") do
        .form-group
          = hidden_field_tag "all"
          = render partial: "body"
