%h2
	%b Stats
%table.table
	%tr
		%td= link_to "Single user over a specified time period", stats_user_path
	%tr
		%td= link_to "Single team over a specified time period", stats_team_path
	%tr
		%td= link_to "Single category over a specified time period", stats_category_path
	%tr
		%td= link_to "All users over a specified time period", stats_all_path
